.bb {
box-sizing: border-box;	
}

.tt{
	box-sizing: border-box; font-size: 9pt; color: rgb(155, 155, 155);
}
._1{
	border-spacing: 0px; border-collapse: collapse; color: rgb(68, 68, 68); width: 430px; font-size: 9pt; font-family: Arial, sans-serif;
}
._2{
	box-sizing: border-box; padding: 0px; width: 86px; vertical-align: top;
}
._3{
	box-sizing: border-box; background-color: transparent; color: rgb(255, 255, 255); outline: -webkit-focus-ring-color white 5px; outline-offset: -2px;
}
._4{
	box-sizing: border-box; border-width: 0px; border-style: initial; vertical-align: middle; width: 86px; height: 86px;
}
._5{
	box-sizing: border-box; padding: 0px; width: 300px; vertical-align: top;
}
._6{
	border-spacing: 0px; border-collapse: collapse; background-color: transparent;
}
._7{
	box-sizing: border-box;  font-size: 10pt; font-weight: bold; color: rgb(61, 60, 63);
}

._8{
	box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}

._9{
	box-sizing: border-box; padding-top: 5px; font-size: 10pt; font-weight: bold; color: rgb(61, 60, 63);
}
._10{
	box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}

._11{
	box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}

._12{
	box-sizing: border-box; font-weight: bold;
}

._13{
	box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}

._14{
box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}

._15{
	box-sizing: border-box; font-weight: bold;
}
._16{
	box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}
._17{
	box-sizing: border-box; font-weight: bold;
}
._18{
	box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}
._19{
	box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration-line: none;
}
._20{
	box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(23, 147, 210);
}
._21{
	box-sizing: border-box; padding: 0px 0px 0px; font-size: 9pt; color: rgb(155, 155, 155);
}
._22{
	box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}
._23{
box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}
._24{
box-sizing: border-box; font-family: Verdana, sans-serif; color: rgb(60, 60, 59);
}

._25{
box-sizing: border-box; padding: 0px 0px 0px; vertical-align: bottom;
}
._26{
	box-sizing: border-box; display: inline-block; height: 22px;
}
._27{
	box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration-line: none;
}


._28{
box-sizing: border-box; border-width: 0px; border-style: initial; vertical-align: middle; height: 20px; width: 20px;
}

._29{
box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration-line: none;
}
._30{
	box-sizing: border-box; border-width: 0px; border-style: initial; vertical-align: middle; height: 20px; width: 20px;
}

._31{
box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration-line: none;
}
._32{
box-sizing: border-box; border-width: 0px; border-style: initial; vertical-align: middle; height: 20px; width: 20px;
}



._33{
box-sizing: border-box; background-color: transparent; color: rgb(51, 122, 183); text-decoration-line: none;
}

._34{
box-sizing: border-box; border-width: 0px; border-style: initial; vertical-align: middle; height: 20px; width: 20px;
}